/* http://kachibito.net/css/animated-css-gradient-border */

.gold {/*変数設定*/
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gold::after {/*グラデーション設定。位置は先ほどの変数を代入してclacで計算*/
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #CAA846, #F5D100, #E0CA82, #BF9224, white);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

.silver {/*変数設定*/
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.silver::after {/*グラデーション設定。位置は先ほどの変数を代入してclacで計算*/
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #757575, #E8E8E8, #9E9E9E,white);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}
 
.bronze {/*変数設定*/
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.bronze::after {/*グラデーション設定。位置は先ほどの変数を代入してclacで計算*/
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #573300, #553b11, #554321,#5a482e);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {/*アニメーション設定*/
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}